* {
  font-family: 'Roboto', sans-serif;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:focus,
button:focus,
option:focus,
select:focus {
  outline: none;
}
.auth {
  background-color: #6b4dd1;
  max-height: 100vh;
}
.auth__content {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth__content-form {
  background-color: #6b4dd1;
  height: 80vh;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 30px;
}
.auth__content-form-control {
  background-color: #fff;
  width: 100%;
  height: 80vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-greeting {
  padding-bottom: 10px;
}
.auth-link {
  text-align: center;
  padding-top: 20px;
  color: #6b4dd1;
  text-decoration: none;
}
.auth-link:hover {
  color: #6b4dd1;
}
.login h5,
.register h5 {
  padding-bottom: 20px;
  text-align: center;
}
.login h5 span,
.register h5 span {
  color: #6b4dd1;
  font-weight: 600;
}
.login form,
.register form {
  display: flex;
  flex-direction: column;
}
.login form input,
.register form input {
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #777;
  padding-left: 10px;
  margin-bottom: 20px;
}
.login form button,
.register form button {
  background-color: #6b4dd1;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.dashboard {
  height: 100%;
  min-height: 100vh;
}
.dashboard__header {
  height: 40vh;
  background: #e1d8f8;
  background: linear-gradient(346deg, #e1d8f8 35%, #b2eef1 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dashboard__header-count {
  font-weight: 700;
  font-size: 50px;
}
.dashboard__header-status {
  font-weight: 300;
  font-size: 23px;
}
.dashboard__menu {
  background-color: #fff;
  position: absolute;
  width: 500px;
  display: flex;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  bottom: -60px;
}
.dashboard__menu-section {
  width: 50%;
}
.dashboard__menu-section-container {
  display: flex;
  align-items: center;
}
.dashboard__menu-section-img {
  background-color: #F0F1FA;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.dashboard__menu-section-img img {
  width: 15px;
}
.dashboard__menu-section h4 {
  font-size: 20px;
  font-weight: 700;
}
.dashboard__menu-section span {
  font-size: 14px;
  font-weight: 100;
  color: #777;
}
.dashboard__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  padding-bottom: 200px;
}
.dashboard__categories {
  padding-top: 50px;
}
.dashboard__categories-item {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
  margin-top: 100px;
}
.dashboard__categories-item span {
  color: #FDC62F;
  font-size: 30px;
}
.dashboard__categories-item h5 {
  color: #000;
  font-weight: 400;
  font-size: 17px;
}
.dashboard__categories-item:hover h5 {
  font-weight: 700;
  color: #6b4dd1;
}
.dashboard__categories-modal {
  padding-left: 15px;
  padding-right: 15px;
}
.dashboard__categories-modal form {
  display: flex;
  flex-direction: column;
}
.dashboard__categories-modal form span {
  font-size: 17px;
  font-weight: 700;
  padding-bottom: 7px;
}
.dashboard__categories-modal form input {
  background-color: #F5F5F9;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  padding-left: 10px;
  font-weight: 300;
}
.dashboard__categories-modal form select {
  background-color: #F5F5F9;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  padding-left: 10px;
  font-weight: 300;
}
.dashboard__categories-modal-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.dashboard__categories-modal-item div {
  display: flex;
}
.dashboard__firstEntry {
  text-align: center;
}
.dashboard__firstEntry h2 {
  margin-bottom: 20px;
}
.dashboard__firstEntry button {
  color: #000;
  text-decoration: none;
  font-size: 30px;
  color: #6b4dd1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  border: none;
}
.dashboard__firstEntry button:hover {
  color: #6b4dd1;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
